<header>
  <h1>EDIT SHELTER INFORMATION</h1>
</header>

<section class="editform">
<%= form_tag "/shelters/#{@shelter.id}", method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @shelter.name %>
  <%= label_tag :address %>
  <%= text_field_tag :address, @shelter.address %>
  <%= label_tag :state %>
  <%= text_field_tag :state, @shelter.state %>
  <%= label_tag :city %>
  <%= text_field_tag :city, @shelter.city %>
  <%= label_tag :zip %>
  <%= text_field_tag :zip, @shelter.zip %>
  <%= submit_tag "Update Shelter Information" %>
<% end %>
</section>
