<head>
  <title>ALL SHELTERS</title>
  <link rel="stylesheet" href="assets/stylesheets/main.css" title="text/css" />
</head>

<body>
<header>
<h1>ANIMAL SHELTERS INDEX</h1>
</header>

<% @shelters.each do |shelter| %>
  <section class="shelters-<%= shelter.id %>">
    <%= link_to "#{shelter.name.upcase}", "/shelters/#{shelter.id}" %>
    <%= link_to "EDIT SHELTER", "/shelters/#{shelter.id}/edit" %>
    <% if shelter.has_pending_pets %>
      <%= shelter.name %> has pending pets for adoption!
    <% else %>
      <%= link_to "DELETE #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
    <% end %>
  </section>
<% end %>

<img src="https://www.dogstrust.org.uk/our-centres/glasgow/centre-updates/news/2020/174714lrg_dtglasgowpups.jpg" alt="pets" id="main_page_image">

<footer><h3><%= link_to "CREATE A NEW SHELTER", "/shelters/new" %></h3></footer>
</body>
