<head>
  <link rel="stylesheet" href="assets/stylesheets/pet.css" title="text/css" />
</head>

<body class="pets_index">
<header>
  <h1><%= link_to "#{@shelter.name.upcase}:", "/shelters/#{@shelter.id}" %> ADOPTABLE PETS</h1>
    <h3>NUMBER OF ADOPTABLE PETS: <%= "#{@shelter.pets.count}" %></h3>
</header>

<% @pets.each do |pet| %>
  <section class="pets_index-<%= pet.id %>">
      <%= image_tag(pet.image, :size => "260x180", method: :get) %>
      <%= link_to "#{pet.name.upcase}", "/pets/#{pet.id}" %>
      APPROXIMATE AGE: <%= pet.approx_age %>
      SEX: <%= pet.sex %>
      <%= link_to "EDIT #{pet.name.upcase}'S INFO", "/pets/#{pet.id}/edit" %>
      <%= link_to "DELETE #{pet.name.upcase}", "/pets/#{pet.id}", method: :delete %>
  </section>
<% end %>

<h3 id="shelter_pet_index_create_link"><%= link_to "ADD A NEW PET TO #{@shelter.name.upcase}", "/shelters/#{@shelter.id}/pets/new" %></h3>
</body>
