<head>
  <link rel="stylesheet" href="assets/stylesheets/pet.css" title="text/css" />
</head>

<body id="shelter_show">
  <h1><%= @shelter.name.upcase %></h1>

<div id="attributes">
  <ul>
    <li>ADDRESS<p><%= @shelter.address %></p></li>
    <li>CITY<p><%= @shelter.city %></p></li>
    <li>STATE<p><%= @shelter.state %></p></li>
    <li>ZIP<p><%= @shelter.zip %></p></li>
  </ul>

  <h3><%= link_to "#{@shelter.name.upcase}'S PET INDEX", "/shelters/#{@shelter.id}/pets" %></h3>

  <h5><%= link_to "UPDATE SHELTER", "#{@shelter.id}/edit"  %></h5>
  <h5><%= link_to "DELETE SHELTER", "/shelters/#{@shelter.id}", method: :delete %></h5>
</div>

<h5><%= link_to "CREATE NEW REVIEW", "#{@shelter.id}/reviews/new"  %></h5>

<section>
  <% @shelter.reviews.each do |review| %>
    <p><%= review.title %></p>
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
    <p><%= review.picture %></p>
    <p><%= link_to "EDIT REVIEW", "/reviews/#{review.id}/edit"  %></p>
    <p><%= link_to "DELETE REVIEW", "/reviews/#{review.id}", method: :delete  %></p>

    <% end %>
</section>





</body>
