<section class="viewable_favorites">
<% if @favorites.empty? == true %>
  You have not favorited any pets!
<% else %>
<% @viewable_favorites.each do |favorite| %>
  <section class="favorite-<%= favorite.id %>">
    <h2><%= link_to "#{favorite.pet.name}", "/pets/#{favorite.pet_id}" %></h2>
    <%= favorite.pet.image %>
    <%= link_to "Remove Me From Your Favorites", "/favorites/#{favorite.pet_id}", method: :delete %>
    <% end %>
  </section>
<% end %>
</section>

<section class="application_favorites">
  <% @application_favorites.each do |favorite| %>
  <section class="app_favorite-<%= favorite.id %>">
    <h2><%= link_to "#{favorite.pet.name}", "/pets/#{favorite.pet_id}" %></h2>
  </section>
  <% end %>
</section>
<%= link_to "Remove ALL Favorites", "/favorites", method: :delete %>
<%= link_to "Adopt A Pet", "/applications/new" %>
