<header>
  <h1>Favorites</h1>
</header>

<section class="indexpage">

<section class="viewable_favorites">
  <% if @favorites.empty? == true %>
    <h2>You have not favorited any pets!</h2>
  <% else %>
    <% @viewable_favorites.each do |favorite| %>

    <section class="favorite-<%= favorite.id %>">
    <h2><%= link_to "#{favorite.pet.name}", "/pets/#{favorite.pet_id}" %></h2>
    <%= image_tag(favorite.pet.image, :size => "260x180", method: :get) %>
    <section class="linktoinfo">
    <h5><%= link_to "Remove Me From Your Favorites", "/favorites/#{favorite.pet_id}", method: :delete %></h5>
    </section>
    <% end %>
  </section>

<% end %>

<section class="application_favorites">
  <% @application_favorites.each do |favorite| %>
  <section class="app_favorite-<%= favorite.id %>">
    <h2><%= link_to "#{favorite.pet.name}", "/pets/#{favorite.pet_id}" %></h2>
    <%= image_tag(favorite.pet.image, :size => "260x180", method: :get) %>
  </section>
  <% end %>
</section>

<footer class="linktoinfo">
<h5><%= link_to "Remove ALL Favorites", "/favorites", method: :delete %></h5>
<h5><%= link_to "Adopt A Pet", "/applications/new" %></h5>
</footer>
