<%= @application.name %>
<%= @application.address %>
<%= @application.city %>
<%= @application.state %>
<%= @application.zip %>
<%= @application.phone_number %>
<%= @application.description %>

<%= @application.pets.each do |pet| %>
<section class="pet-<%= pet.id %>">
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% if pet.adoption_status == "Pending" %>
  <%= link_to "Unapprove Application For #{pet.name}", "/applications/#{@application.id}/#{pet.id}", method: :patch%>
  <p>This pet is no longer adoptable</p>
  <% else pet.adoption_status == "Adoptable" %>
  <%= link_to "Approve Application For #{pet.name}", "/applications/#{@application.id}/#{pet.id}", method: :patch%>
  <% end %>
</section>
<% end %>
