<head>
  <link rel="stylesheet" href="assets/stylesheets/main.css" title="text/css" />
</head>
<body id="edit">
<header>
  <h1>EDIT PET INFORMATION</h1>
  <nav>
  <h3><%= link_to "ALL PETS", "/pets" %></h3>
  <h3><%= link_to "ALL SHELTERS", "/shelters" %></h3>
  </nav>
</header>


<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <%= label_tag :image %>
  <p>
  <%= text_field_tag :image, @pet.image %>
  <p>
  <%= label_tag :name %>
  <p>
  <%= text_field_tag :name, @pet.name %>
  <p>
  <%= label_tag :description %>
  <p>
  <%= text_field_tag :description, @pet.description %>
  <p>
  <%= label_tag :approx_age %>
  <p>
  <%= text_field_tag :approx_age, @pet.approx_age %>
  <p>
  <%= label_tag :sex %>
  <p>
  <%= text_field_tag :sex, @pet.sex %>
  <p>
  <%= submit_tag "Update Pet Information" %>
<% end %>
</body>
