<header>
  <h1>EDIT PET INFORMATION</h1>
</header>

<section class="editform">
<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <%= label_tag :image %>
  <p>
  <%= text_field_tag :image, @pet.image %>
  <p>
  <%= label_tag :name %>
  <p>
  <%= text_field_tag :name, @pet.name %>
  <p>
  <%= label_tag :description %>
  <p>
  <%= text_field_tag :description, @pet.description %>
  <p>
  <%= label_tag :approx_age %>
  <p>
  <%= text_field_tag :approx_age, @pet.approx_age %>
  <p>
  <%= label_tag :sex %>
  <p>
  <%= text_field_tag :sex, @pet.sex %>
  <p>
  <%= submit_tag "Update Pet Information" %>
<% end %>
</section>
