<header>
  <h1>PET INDEX</h1>
</header>
<section class="indexpage">

    <% @pets.each do |pet| %>
    <div class="petindex">
      <%= image_tag(pet.image, :size => "260x180", method: :get) %>
      <p class="name"><%= link_to "#{pet.name.upcase}", "/pets/#{pet.id}" %></p>
          <p class="attribute">APPROXIMATE AGE: <%= pet.approx_age %></p>
            <p class="attribute">SEX: <%= pet.sex %></p>
            <p class="attribute">SHELTER: <%= link_to "#{pet.shelter.name.upcase}", "/shelters/#{pet.shelter.id}" %></p>
          <p>
            <%= link_to "EDIT #{pet.name.upcase}'S INFO", "/pets/#{pet.id}/edit" %></p>
          <p class="deletelink"><%= link_to "DELETE #{pet.name.upcase}", "/pets/#{pet.id}", method: :delete %></p>
          </div>
        <% end %>
        </section>
