<header>
<h1>ADD A PET</h1>
</header>

<section class="editform">
<%= form_tag "/shelters/#{@shelter_id}/pets", method: :post do %>
  <p>
  <%= label_tag :image %>
  <p>
  <%= text_field_tag :image %>
  <p>
  <%= label_tag :name %>
  <p>
  <%= text_field_tag :name %>
  <p>
  <%= label_tag :description %>
  <p>
  <%= text_field_tag :description %>
  <p>
  <%= label_tag :approx_age %>
  <p>
  <%= text_field_tag :approx_age %>
  <p>
  <%= label_tag :sex %>
  <p>
  <%= text_field_tag :sex %>
  <p>
  <%= hidden_field_tag :adoption_status, "Adoptable" %>
  <p>
  <%= submit_tag "Create Pet" %>
<% end %>
</section>
