<head>
  <link rel="stylesheet" href="assets/stylesheets/pet.css" title="text/css" />
</head>
<body id="pet_show">

  <header>
    <h1><%= @pet.name.upcase %></h1>
</header>

<div><%= image_tag(@pet.image, method: :get) %></div>

<div id="attributes">
  <ul>
    <li>NAME:<p><%= @pet.name %></p></li>
    <li>DESCRIPTION: <p><%= @pet.description %></p></li>
    <li>APPROXIMATE AGE:<p> <%= @pet.approx_age %></p></li>
    <li>SEX: <p><%= @pet.sex %></p></li>
    <li>ADOPTION STATUS: <p><%= @pet.adoption_status %></p></li>
  </ul>
  <h5><%= link_to "EDIT #{@pet.name.upcase}'S INFO", "#{@pet.id}/edit"  %></h5>
  <h5><%= link_to "DELETE #{@pet.name.upcase}", "#{@pet.id}", method: :delete%></h5>
</div>
<% if @pet.favorite.empty? == false %>
  <h5><%= link_to "Remove me from your favorites", "/favorites/#{@pet.id}", method: :delete %></h5>
  <% else %>
  <h5><%= link_to "FAVORITE ME", "#{@pet.id}/favorites", method: :post %></h5>
  <% end %>
</body>
