<header>
  <h1>NEW SHELTER REVIEW</h1>
</header>
<section class="editform">

<%= form_tag "/shelters/#{@shelter_id}", method: :post do %>
<%= label_tag :title %>
<%= text_field_tag :title %>
<%= label_tag :rating %>
<%= text_field_tag :rating %>
<%= label_tag :content %>
<%= text_field_tag :content %>
<%= label_tag :picture %>
<%= text_field_tag :picture %>

<%= submit_tag "CREATE NEW REVIEW" %>
<% end %>
</section>
